body {
   margin: 0;
   font-family: sans-serif;
   font-size: 1.125rem;
   font-weight: 300;
}

a {
   text-decoration: none;
}
img {
   max-width: 100%;
   display: block;
}

.image-full {
   max-height: 300px;
   width: 100%;
   object-fit: cover;
   margin-bottom: 2em;
}

h1,
h2,
h3 {
   font-family: serif;
   font-weight: 400;
   color: #143774;
   margin-top: 0;
}

h1 {
   font-size: 2rem;
   margin: 0;
}

h3 {
   color: #1792d2;
}

.subtitle {
   font-weight: 700;
   color: #1792d2;
   font-size: .75rem;
   margin: 0;
}

.article-title {
   font-size: 1.5rem;
}

.article-read-more,
.article-info {
   font-size: .875rem;
}

.article-read-more {
   color: #1792d2;
   text-decoration: none;
   font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
   color: #143774;
   text-decoration: underline;
}

.article-info {
   margin: 2em 0;
}

.container {
   width: 90%;
   max-width: 900px;
   margin: 0 auto;
}

.container-nav,
.container-flex {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
   background: #ff794d;
   text-align: center;
   padding: 1% 0;
   margin-bottom: 3%;

}

footer {
   background: #ff794d;
   color: white;
   text-align: center;
   padding: .3em 0;
}

.fa-heart {
   color: red;
}

footer a {
   text-decoration: none;
   color: red;
}

strong {
   font-weight: 700;
}

nav ul {
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

nav li {
   margin: .5em 0;
}

nav a {
   text-decoration: none;
   color: #fff;
   font-weight: 700;
   margin: .25em 0;
}

nav a:hover,
nav a:focus {
   color: #fff;
}

.current-page {
   border-bottom: 1px solid transparent;
}

.current-page:hover {
   color: #707070;
}

.article-featured {
   border-bottom: #707070 1px solid;
   padding-bottom: 2em;
   margin-bottom: 2em;
}

.article-recent {
   display: flex;
   flex-direction: column;
   margin-bottom: 2em;
}

.article-recent-main {
   order: 2;
}

.article-recent-secondary {
   order: 1;
}

.sidebar-widget {
   border: 10px solid #efefef;
   margin-bottom: 2em;
   padding: 1em;
}

.widget-title {
   font-size: 1rem;
   font-family: sans-serif;
   font-weight: 700;
}

.widget-recent-post-title {
   font-size: 1rem;
}

.widget-recent-post {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #707070;
   margin-bottom: 1em;
}

.widget-recent-post:last-child {
   border: 0;
   margin: 0;
}

.widget-image {
   order: -1;
   margin-bottom: .5em;
   text-decoration: none;
}




@media (min-width: 675px) {
   .container-nav,
   .container-flex {
      flex-direction: row;
   }
   
   .container-nav{
      align-items: center;
   }
   
   main {
      width: 70%;
   }


   aside {
      width: 25%;
      min-width: 200px;
      margin-left: 1em;
   }
   
   nav ul {
      flex-direction: row;
   }
   
   nav li {
      margin-left: 2em;
   }
   
   
   .article-recent {
      flex-direction: row;
      justify-content: space-between;
   }
   
   .article-recent-main {
      width: 68%;
   }
   
   .article-recent-secondary {
      width: 30%;
   }
   
   .article-title {
      order: 99;
   }
   
   .article-image {
      width: 100%;
      min-height: 200px;
      object-fit: cover;
   }
   
   
   .article-featured {
      display: flex;
      flex-direction: column;
   }
   
   .article-image {
      order: -2;
   }
   
   .article-info {
      order: -1;
   }
   
   .article-title {
      order: 0;
   }
   
}



.article-body--header {
   font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 1px;
}

.article--padding {
   padding: 4%;
}

/* card-box */
.card {
   background: #fff;
   border-radius: 2px;
   display: inline-block;
   height: 500px;
   margin: 1rem;
   position: relative;
   width: 500px;
 }
 
 .card-1 {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }
 
 .card-1:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
 
 .card-2 {
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
 
 .card-3 {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }
 
 .card-4 {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
 
 .card-5 {
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }
 

/* card-box */

.text-color--1 {
   color: #333;
   font-size: 24px;
   font-weight: 700;
}